   
<div class="modal transparent " style="height: 100%; width: 100%" ng-click="closeModal()">
    <div class="list" style=" width: 90%;
                                        height:40%;
                                        top: 30%;
                                        bottom: 30%;
                                        left: 5%;
                                        right: 5%;"
    >
        <ion-content class="padding">
            <a class="button button-block button-balanced " href="#">
                Opciones
            </a>   
            <a class="button button-block button-balanced"> <!-- ng-click con $state.go( con estado app.js)-->
                Anadir
            </a>   
            
            
        </ion-content>

    
       

        </div>
    </div>
</div>