   
<div class="modal transparent " style="height: 100%; width: 100%" ng-click="closeModal()">
    <div class="list" style=" width: 90%;
                                        height:40%;
                                        top: 30%;
                                        bottom: 30%;
                                        left: 5%;
                                        right: 5%;"
    >    
    
        <div class="bar bar-balanced" style="margin-bottom: 5px">
            <h1 class="title">Opciones</h1>
        </div>
        <div class="bar  bar-balanced">
            <h1 class="title">a</h1>
        </div>
        <div class="bar  bar-balanced">
            <h1 class="title">Opciones</h1>
        </div>
        <div class="bar  bar-balanced">
            <h1 class="title">Opciones</h1>
        </div>
       
    </div>
</div>