   
<div class="modal transparent " style="height: 100%; width: 100%" ng-click="closeModal()">
    <div class="list" style=" width: 90%;
                                        height:40%;
                                        top: 30%;
                                        bottom: 30%;
                                        left: 5%;
                                        right: 5%;"
    >
        <ion-content class="padding">
            <a class="button button-block button-balanced ">
                Opciones
            </a>   
            <a class="button button-block button-stable" ng-click="anadir()" > 
                Añadir
            </a>   
            <a class="button button-block button-stable" ng-click="mynotice()" > 
                
                <div ng-if="filtrado_notice">
                    Mostrar todos
                </div>
                <div ng-if="!filtrado_notice">
                    Mis anuncios
                </div>
            </a>   
             
            
            
            
        </ion-content>

    
       

        </div>
    </div>
</div>